# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# configs
/.github
/.storybook
/.vscode
.eslintrc.js

# dependencies
/node_modules
/.pnp
.pnp.js
package.json

# public
/public

# testing
/coverage
/cypress
cypress.json
jest.config.js

# next.js
.next
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# hbs
*.hbs

# sitemap
next-sitemap.js

# plopfile
plopfile.js
