body {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.indexGradient {
  background-image: url('/backgrounds/indexGradient.svg');
}

body.productsGradient {
  background-image: url('/backgrounds/indexGradient.svg');
}

.gradient-opacity {
  background-color: rgba(5, 5, 5, 0.8);
}
